/* wire.css */

.iron-wire-svg {
    position: absolute;
    /* Kích thước khung chứa (Container) */
    width: 80px;  
    height: 350px; 
    
    overflow: visible !important;
    pointer-events: none;
    user-select: none;
    transform: translate(-50%, -50%); /* Căn giữa tâm chuột */
    
    will-change: left, top;
    z-index: 50;
}

.iron-wire-svg svg {
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: visible !important;
    /* Tạo bóng đổ nhẹ cho dây sắt */
    filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.4));
}

/* Ẩn hình chữ nhật nền màu xám (wire-cls-2) */
.iron-wire-svg .wire-cls-2 {
    display: none;
}

/* Group chính để bắt sự kiện chuột */
.iron-wire-svg #main-wire-body {
    pointer-events: all;
    cursor: grab;
}

.iron-wire-svg #main-wire-body:active {
    cursor: grabbing;
}